.navbar {
  height: 100px;
  width: 100%;
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: center;

  ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    height: 100%;
    flex: 1;

    li {
      color: white;
      padding: 0 20px;
      margin: 0px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 1px;
    }
  }
}

.logo {
  min-height: 150px;
  min-width: 150px;
  border-radius: 50%;
  border: 20px solid rgb(181, 0, 0);
  background: white;
}


.hero {
  width: 100%;
  height: 1000px;
  position: relative;
  display: flex;

  &__left,
  &__right {
    width: 50%;
  }

  &--home {
    .hero__left {
      display: flex;
      align-items: center;
      justify-content: center;

      .hero__headline {
        h1 {
          margin: 0px;
          font-weight: 900;
          background-image: image-url("woman-weightlift.jpg");
          background-position-y: 37%;
          background-size: cover;
          -webkit-text-fill-color: transparent;
          -webkit-background-clip: text;
          overflow: hidden;
          border-bottom: 4px solid #b50000;

          span {
            &:first-child {
              font-size: 14rem;
            }

            &:last-child {
              font-size: 12rem;
            }
          }
        }

        .temple__values {
          display: flex;
          justify-content: space-between;
          margin-top: 23px;
          text-transform: uppercase;
          color: white;
        }
      }
    }

    .hero__right {
      background: #000;
      background-image: image-url("couple_training.jpg");
      opacity: 1;
      z-index: 1;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top center;

      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 50%;
        z-index: 1;
        background: rgba(0, 0, 0, 0.53);
      }
    }
  }
}



.section {
  width: 100%;
  padding: 50px 0px;

  &__title {
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    text-align: center;
  }

  &__intro {
    color: gray;
    margin-bottom: 75px;
    text-align: center;
  }
}

.highlight-services {
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h2,
    p {
      text-align: center;
    }

    h2 {
      color: white;
      font-family: "Poppins" !important;
      font-size: 20px;
    }

    .highlight-icon {
      height: 120px;
      width: 120px;
      background: linear-gradient(45deg, #b50000 0%, #720303 100%);
      color: white;
      border-radius: 11%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;

      [class^="flaticon-"],
      [class*=" flaticon-"] {
        &:before {
          font-size: 50px;
          margin: 0px;
        }
      }
    }
  }
}


.section__owner{
  .hero {

    &__left {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      flex-direction: column;
      padding-right: 50px;

      h1,
      p {
        text-align: right !important;
        margin-bottom: 0px;
      }
    }

    &__right {
      background: image-url("fernando_atal.jpg");
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
  }
}

.quote {
  font-style: italic;
}

hr {
  height: 2px;
  width: 50%;
  margin-right: 0px;
  background-color: #b50000;
  border: none;
}

.price-plan {
  width: 100%;
  background: white;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 4px solid #b50000;
  border-radius: 20px;

  .highlight-icon {
    background: #f8f8f8;
    border-radius: 20px;
  }

  [class^="flaticon-"],
  [class*=" flaticon-"] {
    display: flex;
    justify-content: center;
    padding: 0px 40px;

    &:before {
      font-size: 125px;
      color: #b50000;
      margin: 0px;
    }
  }

  &__description {
    p {
      margin-bottom: 0px;
    }

    p:first-child{
      font-size: 35px;
      font-weight: bold;
      color: black;
      margin-top: 25px;
    }

    p:last-child{
      margin-bottom: 0px;
      color: #b50000;
      font-size: 14px;
      text-transform: uppercase;
      text-align: center;
    }
  }
}



.section__pricing {
  background-image: image-url("weightlift.jpg");
  background-attachment: fixed;
  position: relative;

  .container {
    z-index: 3;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.80);
  }
}

.section__contact-us{
  padding: 200px 0px;
}


input[type="text"],
textarea{
  width: 100%;
  background: transparent;
  color: white;
  border: none;
  border-bottom: 1px solid gray;
  border-radius: 0px;
}

.button-primary {
  background: linear-gradient(45deg, #b50000 0%, #720303 100%);
  border: none !important;
  font-weight: normal;
}

footer {
  background: #120f0f;
  height: 100px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}